{%extends 'base.html'%} {%import 'macros.html'as macro%}

<!-- Styles block -->

{% block styles%}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{% endblock %}



<!-- content block -->
{%block content%}
<div class="container">
<ul>
  {% if pitches %} {{ macro.displayPitchesList(pitches) }} {%else%}
  <h4 class="text-center">This Category has no Pitch</h4>{% endif %}
  <a class="btn btn-info text-center" href="/categories/pitch/new/{{category.id}}">Write a new Pitch</a>
</ul>
</div>
{%endblock%}
