{%extends 'base.html'%} {%import 'macros.html'as macro%}

<!-- Styles block -->

{% block styles%}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{% endblock %}


<!-- content block -->
{%block content%}
  <h1 class="text-center">MINUTE PITCH</h1>
  <div class="container">
    <div class="row">
      <div class="col-4">
        <ul>
        <li><a href="/">Pickuplines</li></a>
        <li><a href="/">Interview Pitch</li></a>
        <li><a href="/">Product Pitch</li></a>
        <li><a href="/">Promotion Pitch</li></a>
      </div>
    </div>
  </div>
  <h3>The Categories Available</h3>
  <ul>
    {{macro.displayCategoryList(category)}}
  </ul>
{%endblock%}
